<div class="container-fluid">

	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					<a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a>
					Upload Statement Sheets
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
					<!-- <li class="breadcrumb-item">Upload Statement Sheet </li> -->
				</ul>
			</div>
<!--             <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
                    <div echarts [options]="visitorsOptions" class="echart-line-chart" [autoResize]="true" style="height: 20px;">
                    </div>
                    <span>Visitors</span>
                </div>
                <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
                    <div echarts [options]="visitsOptions" class="echart-line-chart" [autoResize]="true" style="height: 20px;">
                    </div>
                    <span>Visits</span>
                </div>
            </div> -->
		</div>
	</div>

	<div class="row clearfix">

		<div class="col-lg-12 col-md-12">
			<div class="card planned_task">
				<div class="header">
					<h2>Upload</h2>
					<ul class="header-dropdown">
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							 aria-expanded="false"></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="javascript:void(0);">Action</a></li>
								<li><a href="javascript:void(0);">Another Action</a></li>
								<li><a href="javascript:void(0);">Something else</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<!-- <h4>Upload Excel Sheets</h4> -->

					<div class="row">

<!--the buttons to change the view-->
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                  			   <button *ngIf="openingBalance == 0" (click)="openingBalanceFunction()" type="button" class="btn btn-primary mr-1 l-blue custom">Opening Balance</button>
                  			   <button *ngIf="openingBalance == 1" (click)="openingBalanceFunction()" type="button" class="btn btn-primary mr-1 l-grey custom">Opening Balance</button>

                 			   <button *ngIf="invoices == 0"  (click)="invoiceFunction()" type="button" class="btn btn-primary mr-1 l-blue custom">Invoices</button>
                 			   <button *ngIf="invoices == 1" (click)="invoiceFunction()" type="button" class="btn btn-primary mr-1 l-grey custom">Invoices</button>

                 			   <button *ngIf="discount == 0" (click)="discountFunction()" type="button" class="btn btn-primary mr-1 l-blue custom">Discount</button>
                 			   <button *ngIf="discount == 1" (click)="discountFunction()" type="button" class="btn btn-primary mr-1 l-grey custom">Discount</button>
                		   
                		       <button *ngIf="collections == 0" (click)="collectionFunction()" type="button" class="btn btn-primary mr-1 l-blue custom">Collections</button>
                		       <button *ngIf="collections == 1" (click)="collectionFunction()" type="button" class="btn btn-primary mr-1 l-grey custom">Collections</button>
                		  
               			  
               			       <button *ngIf="endingBalance == 0" (click)="endingBalanceFunction()" type="button" class="btn btn-primary mr-1 l-blue custom">Ending Balance</button>
               			       <button *ngIf="endingBalance == 1" (click)="endingBalanceFunction()" type="button" class="btn btn-primary mr-1 l-grey custom">Ending Balance</button>

<!-- Chnage it to the function of due balance-->
               			      <button (click)="endingBalanceFunction()" type="button" class="btn btn-primary mr-1 l-blue custom">Due Balance</button>
						</div>
<!--the buttons to change the view-->


<!--opening balance view-->
						<div class="col-lg-9 col-md-9 col-xs-12 col-sm-12 animation"  style="border: solid 1px black; display:inline;margin-top: 0px;"        *ngIf="openingBalance">
							 <div *ngIf="error">
    {{ error.message }}
  </div>
   <div *ngIf="uploadResponse.status === 'error'">
    {{ uploadResponse.message }}
  </div>


								<h1 style="    text-align: left;
    text-decoration: underline;">Opening Balance</h1>
								<div class="input-group mb-3">
									<div class="custom-file" style="display:inline">
  <form [formGroup]="form" style="text-align:left; margin-bottom:40px; margin: 2em;" (ngSubmit)="onSubmit()">

    <input type="file" name="avatar" (change)="onFileChange($event)" />
    <button type="submit">Upload</button>

  </form>
									</div>
								</div>

								  <div *ngIf="uploadResponse.status === 'progress'">


 <p><ngb-progressbar type="danger" showValue="true" [striped]="true" [value]="uploadResponse.message" [animated]="true" height="20px"></ngb-progressbar></p>

  </div>
						</div>
<!--opening balance view ends here-->

						<div class="col-lg-9 col-md-9 col-xs-12 col-sm-12 animation" style="border: solid 1px black" style="display:inline"*ngIf="invoices">
							 <div *ngIf="error">
    {{ error.message }}
  </div>
   <div *ngIf="uploadResponse.status === 'error'">
    {{ uploadResponse.message }}
  </div>

								<h1 style="    text-align: left;
    text-decoration: underline;">Invoices</h1>
								<div class="input-group mb-3">
									<div class="custom-file" style="display:inline">
  <form [formGroup]="form" style="text-align:left; margin-bottom:40px; margin: 2em;" (ngSubmit)="onSubmit()">

    <input type="file" name="avatar" (change)="onFileChange($event)" />
    <button type="submit">Upload</button>

  </form>
									</div>
								</div>

								  <div *ngIf="uploadResponse.status === 'progress'">


 <p><ngb-progressbar type="danger" showValue="true" [striped]="true" [value]="uploadResponse.message" [animated]="true" height="20px"></ngb-progressbar></p>

  </div>

						</div>

						<div class="col-lg-9 col-md-9 col-xs-12 col-sm-12 animation" style="border: solid 1px black" style="display:inline"*ngIf="discount">
							 <div *ngIf="error">
    {{ error.message }}
  </div>
   <div *ngIf="uploadResponse.status === 'error'">
    {{ uploadResponse.message }}
  </div>
  <div *ngIf="uploadResponse.status === 'progress'">


 <p><ngb-progressbar type="danger" showValue="true" [striped]="true" [value]="uploadResponse.message" [animated]="true" height="20px"></ngb-progressbar></p>

  </div>

								<h1 style="    text-align: left;
    text-decoration: underline;">Discount</h1>
								<div class="input-group mb-3">
									<div class="custom-file" style="display:inline">
  <form [formGroup]="form" style="text-align:left; margin-bottom:40px; margin: 2em;" (ngSubmit)="onSubmit()">

    <input type="file" name="avatar" (change)="onFileChange($event)" />
    <button type="submit">Upload</button>

  </form>
									</div>
								</div>
						</div>

						<div class="col-lg-9 col-md-9 col-xs-12 col-sm-12 animation" style="border: solid 1px black" style="display:inline"*ngIf="collections">
							 <div *ngIf="error">
    {{ error.message }}
  </div>
   <div *ngIf="uploadResponse.status === 'error'">
    {{ uploadResponse.message }}
  </div>

								<h1 style="    text-align: left;
    text-decoration: underline;">Opening Balance</h1>
								<div class="input-group mb-3">
									<div class="custom-file" style="display:inline">
  <form [formGroup]="form" style="text-align:left; margin-bottom:40px; margin: 2em;" (ngSubmit)="onSubmit()">

    <input type="file" name="avatar" (change)="onFileChange($event)" />
    <button type="submit">Upload</button>

  </form>
									</div>
								</div>
								  <div *ngIf="uploadResponse.status === 'progress'">


 <p><ngb-progressbar type="danger" showValue="true" [striped]="true" [value]="uploadResponse.message" [animated]="true" height="20px"></ngb-progressbar></p>

  </div>

						</div>

						<div class="col-lg-9 col-md-9 col-xs-12 col-sm-12 animation" style="border: solid 1px black" style="display:inline"*ngIf="endingBalance">
							 <div *ngIf="error">
    {{ error.message }}
  </div>
   <div *ngIf="uploadResponse.status === 'error'">
    {{ uploadResponse.message }}
  </div>

								<h1 style="    text-align: left;
    text-decoration: underline;">Ending Balance</h1>
								<div class="input-group mb-3">
									<div class="custom-file" style="display:inline">
  <form [formGroup]="form" style="text-align:left; margin-bottom:40px; margin: 2em;" (ngSubmit)="onSubmit()">

    <input type="file" name="avatar" (change)="onFileChange($event)" />
    <button type="submit">Upload</button>

  </form>
									</div>
								</div>

								  <div *ngIf="uploadResponse.status === 'progress'">


 <!--     <p><ngb-progressbar type="danger" showValue="true" [striped]="true" [value]="uploadResponse.message" [animated]="true" height="20px"></ngb-progressbar></p>-->

            <p><ngb-progressbar type="danger" showValue="true" [striped]="true" [value]="uploadResponse.message" [animated]="true" height="20px"></ngb-progressbar></p>


  </div>

						</div>
					</div> </div>
			</div>
		</div>
	</div>



	<div class="row clearfix">

		<div class="col-lg-12 col-md-12">
			<div class="card planned_task">
				<div class="header">
					<h2 style="display: inline-block;">Generate Customer Monthly Statements</h2> 
										<button style="display: inline-block; width: 19em;         margin-left: 22%;"  (click)="doneF()" type="button" class="btn btn-primary mr-1 l-blue custom">Generate</button>

				</div>
			<div *ngIf="done == 1" style="text-align: center;">
				<img style="width: 20em" src="assets/images/done.png">
				<p>Statments Generated Successfully</p>
			</div>
			</div>


		</div>
	</div>
</div>
