
<div class="container" *ngIf="allData">
		<form [formGroup] = "contactForm">

  <div class="logo" style="text-align: center; padding: 10px;"><img style="width: 5em;" src="assets/images/logo.png" alt="cc-logo" border="0">
  </div>

  <br>

													<table class="table table-hover">
							<thead class="thead-dark">
								<tr>
										<th colspan="1" style="text-align: center;">ID</th>
										<th colspan="1" style="text-align: center;">Document Type</th>
										<th colspan="2" style="text-align: center;">Total</th>

								</tr>
							</thead>
							<tbody>
								<tr (click)="openOpeningBlanceTable()">

									<td colspan="1">#1</td>
									<td colspan="1"><span style="background-color: #ffc000" class="dot"></span> Opening Balance</td>

									<td colspan="1">{{allData.openingbalance['0']['opening_balance_amount']}}LE</td>
									

								</tr>
								<div style="    display: contents;" *ngIf="openingbalances">
									<tr>
										<td></td>
									<th>Document Number</th>

									<td>{{allData.openingbalance['0']['id']}}</td>
</tr>


						<tr>
										<td></td>
									<th> Date</th>

									<td>{{allData.openingbalance['0']['opening_balance_date']}}</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>Remarks</th>
-->



						<tr>
										<td></td>
									<th>Amount</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Price</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Total</th>

									<td>{{allData.openingbalance['0']['opening_balance_amount']}}LE</td>
</tr>

						<tr>
										<td></td>
									<th>Remarks</th>

									<td></td>
</tr>
<tr>
	<td></td>
		<input type="hidden" formControlName="opening_id" [ngModel]="allData.openingbalance['0']['id']">

				<textarea formControlName="opening_comment" rows="2" cols="28"></textarea>
</tr>



								</div>






<!--Invoices-->
<span style="    display: contents;" *ngFor="let invoice of allData['invoice']">
								<tr  (click)="openInvoices()">


					<td  colspan="1">#2</td>
									<td colspan="1"><span style="background-color: #8eb4e3" class="dot"></span> Invoices</td>

									<td colspan="1">{{invoice.invoice_amount}}LE</td>
									
									

								</tr>
								<span style="    display: contents;" *ngIf="invoices">
									<tr>
										<td></td>
									<th>Document Number</th>

									<td>#{{invoice.invoice_id}}</td>
</tr>


						<tr>
										<td></td>
									<th> Date</th>

									<td>{{invoice.invoice_date}}</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>Remarks</th>
-->


						<tr>
										<td></td>
									<th>Amount</th>

									<td>{{invoice.amount}}</td>
</tr>

						<tr>
										<td></td>
									<th>Price</th>

									<td>{{invoice.unit_price}}</td>
</tr>

						<tr>
										<td></td>
									<th>Total</th>

									<td>{{invoice.invoice_amount}}LE</td>
</tr>

						<tr>
										<td></td>
									<th>Remarks</th>

									<td></td>
</tr>
<tr>
	<td></td>

		<input type="hidden" formControlName="invoice_id" [ngModel]="invoice.id">

				<textarea formControlName="invoice_comment" rows="2" cols="28"></textarea>
</tr>



								</span>
</span>

<!--invoices-->



<!--collection-->
<span style="    display: contents;" *ngFor="let collection of allData['collection']">

								<tr (click)="openCollection()">

<td  colspan="1">#3</td>
									<td colspan="1"><span style="background-color: #ffff00" class="dot"></span> Collection</td>

									<td colspan="1">{{collection.amount_collected}}LE</td>

									

								</tr>
								<span style="    display: contents;"  *ngIf="collections">
									<tr>
										<td></td>
									<th>Document Number</th>

									<td>#{{collection.deposit_statement}}</td>
</tr>


						<tr>
										<td></td>
									<th> Date</th>

									<td>{{collection.collection_date}}</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>Remarks</th>
-->



						<tr>
										<td></td>
									<th>Amount</th>

									<td>{{collection.amount_collected}}</td>
</tr>

						<tr>
										<td></td>
									<th>Price</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Total</th>

									<td>{{collection.amount_collected}}LE</td>
</tr>

						<tr>
										<td></td>
									<th>Remarks</th>

									<td></td>
</tr>
<tr>
	<td></td>

			<input type="hidden" formControlName="collection_id" [ngModel]="collection.id">

				<textarea formControlName="collection_comment" rows="2" cols="28"></textarea>
</tr>



								</span>
</span>
<!--collection-->




<!--Discount-->
<span style="    display: contents;" *ngFor="let discount of allData['discount']">

								<tr (click)="openDiscount()">

<td  colspan="1">#4</td>
									<td colspan="1"><span style="background-color: #d99694" class="dot"></span> Discounts</td>

									<td colspan="1">-{{discount.discount_amount}}LE</td>

								
									

								</tr>
								<span style="    display: contents;" *ngIf="discounts">
									<tr>
										<td></td>
									<th>Document Number</th>

									<td>#{{discount.id}}</td>
</tr>


						<tr>
										<td></td>
									<th> Date</th>

									<td>{{discount.discount_date}}</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>Remarks</th>
-->


						<tr>
										<td></td>
									<th>Amount</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Price</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Total</th>

									<td>{{discount.discount_amount}}LE</td>
</tr>

						<tr>
										<td></td>
									<th>Remarks</th>

									<td></td>
</tr>
<tr>
	<td></td>
		
			<td colspan="2">
		<input type="hidden" formControlName="discount_id" [ngModel]="discount.id">

				<textarea formControlName="discount_comment" rows="2" cols="28"></textarea>



			</td>

</tr>



								</span>
</span>
<!--Discount-->







<!--ENding Balance-->
<span style="    display: contents;" *ngFor="let endingbalance of allData['endingbalance']">

								<tr (click)="openEndingBalance()">

									

<td  colspan="1">#5</td>
									<td colspan="1"><span style="background-color: #c4bd97" class="dot"></span> Ending Balance</td>

									<td colspan="1">{{endingbalance.ending_balance}}LE</td>

								</tr>
								<span style="    display: contents;" *ngIf="endingbalances">
									<tr>
										<td></td>
									<th>Document Number</th>

									<td>#{{endingbalance.id}}</td>
</tr>


						<tr>
										<td></td>
									<th> Date</th>

									<td>{{endingbalance.ending_balance_date}}</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>Remarks</th>
-->


						<tr>
										<td></td>
									<th>Amount</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Price</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Total</th>

									<td>{{endingbalance.ending_balance}}LE</td>
</tr>

						<tr>
										<td></td>
									<th>Remarks</th>

									<td></td>
</tr>
<tr>



	<td></td>
				<input type="hidden" formControlName="endingbalance_id" [ngModel]="endingbalance.id">

	<td colspan="2"><textarea formControlName="endingbalance_comment" rows="2" cols="28"></textarea></td>
</tr>



								</span>
</span>
							</tbody>
						</table>
  		</form>

</div>


<div>
	<div class="container">
				<form [formGroup] = "contactForm2">
				<input type="hidden" formControlName="customer_statement_id" [ngModel]="allData.customerstatement['0'].id">

		<h2  style="    padding: 12px;
    font-size: 1em; background-color: #343a40; color: white;
">Select the reasons for disagreeing:</h2>

<div>

<div  style="font-size: 1em;     padding-left: 39px;" >
	<label style="display: inline-block;"><input (change)="yourfunc($event)"  type="checkbox"><span>Difference in Payment</span></label>
 	<div *ngIf="r1">
 	<textarea formControlName="difference_in_payment_comment" rows="2" cols="36"></textarea>
 	</div>

</div>

</div>

<div>
<div style=" font-size: 1em;     padding-left: 39px;" >
	<label style="display: inline-block;"><input  (change)="yourfunc2($event)" type="checkbox"><span>Difference in Amount</span></label>
 	<div *ngIf="r2">
 	<textarea formControlName="difference_in_amount_comment" rows="2" cols="36"></textarea>
 	</div>

</div>

</div>

<div>
<div style=" font-size: 1em;     padding-left: 39px;" >
	<label style="display: inline-block;"><input (change)="yourfunc3($event)" type="checkbox"><span>Payment not documented</span></label>
 	<div *ngIf="r3">
 	<textarea formControlName="payment_not_documented_comment" rows="2" cols="36"></textarea>
 	</div>

</div>

</div>

<div>
<div style=" font-size: 1em;     padding-left: 39px;" >
	<label style="display: inline-block;"><input (change)="yourfunc4($event)" type="checkbox"><span>Invoice not documented</span></label>
 	<div *ngIf="r4">
 	<textarea formControlName="invoice_not_documented_comment" rows="2" cols="36"></textarea>
 	</div>

</div>

</div>

<div>
<div style=" font-size: 1em;    padding-left: 39px;"  >
	<label style="display: inline-block;"><input (change)="yourfunc5($event)" type="checkbox"><span>Other</span></label>
 	<div *ngIf="r5">
 	<textarea formControlName="other_comment" rows="2" cols="36"></textarea>
 	</div>

</div>

</div>

	</form>							
</div>
	</div>
	






  <div class="button-wrap">

  <button (click)="comments()" class="explore">
    Submit
  </button>  
  </div>