<div class="container" [responsive-window]="'parent'">
<div  

*responsive="{
                          device: 'mobile'
            }"
            >
<div  class="container" *ngIf="allData" style="direction: rtl; ">
		<form [formGroup] = "contactForm">

  <div class="logo" style="text-align: center; padding: 10px;"><img style="width: 5em;" src="assets/images/logo.png" alt="cc-logo" border="0">
  </div>

  <br>

													<table class="table table-hover">
							<thead class="thead-dark">
								<tr>
										<th colspan="1" style="text-align: center;">الكود </th>
										<th colspan="1" style="text-align: center;">نوع الوثيقة
</th>
										<th colspan="2" style="text-align: center;">إجمالي</th>

								</tr>
							</thead>
							<tbody>
								<tr (click)="openOpeningBlanceTable()">

									<td *ngIf="openingbalances" colspan="1" style="text-align: right;"  ><i class="down"></i>  #1</td>
									<td *ngIf="!openingbalances" colspan="1" style="text-align: right;"  ><i class="left"></i>  #1</td>
									<td colspan="1" style="text-align: right;"><span style="background-color: #ffc000" class="dot"></span> الرصيد الافتتاحي
</td>

									<td colspan="1">{{allData.openingbalance['0']['opening_balance_amount']}}LE</td>
									

								</tr>
								<div style="    display: contents;" *ngIf="openingbalances">
									<tr>
										<td></td>
									<th style="text-align: right;">رقم المستند</th>

									<td>{{allData.openingbalance['0']['id']}}</td>
</tr>


						<tr>
										<td></td>
									<th  style="text-align: right;"> تاريخ</th>

									<td>{{allData.openingbalance['0']['opening_balance_date']}}</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>تعليق</th>
-->



						<tr>
										<td></td>
									<th  style="text-align: right;">الكميه</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">السعر</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">المجموع</th>

									<td>{{allData.openingbalance['0']['opening_balance_amount']}}LE</td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">تعليق</th>

									<td></td>
</tr>
<tr>
	<td></td>
		<input type="hidden" formControlName="opening_id" [ngModel]="allData.openingbalance['0']['id']">

				<textarea formControlName="opening_comment" rows="2" cols="28"></textarea>
</tr>




<tr>
										<td></td>
									<th  style="text-align: right;">المبلغ الذي تعتقد أنه يجب عليك دفعه؟</th>

									<td></td>
</tr>
<tr>
	<td></td>
<!-- 		<input type="hidden" formControlName="opening_id" [ngModel]="allData.openingbalance['0']['id']">
 -->
				<textarea  style="text-align: right;"  formControlName="amount_user_wantsTo_pay_opening" rows="2" cols="28"></textarea>
</tr>



								</div>






<!--Invoices-->
<span style="    display: contents;" *ngFor="let invoice of allData['invoice']">
								<tr  (click)="openInvoices()">


					<td *ngIf="invoices"  colspan="1" style="text-align: right;"><i class="down"></i>  #2</td>
					<td *ngIf="!invoices"  colspan="1" style="text-align: right;"><i class="left"></i>  #2</td>
									<td colspan="1" style="text-align: right;"><span style="background-color: #8eb4e3" class="dot"></span> الفواتير</td>

									<td colspan="1">{{invoice.invoice_amount}}LE</td>
									
									

								</tr>
								<span style="    display: contents;" *ngIf="invoices">
									<tr>
										<td></td>
									<th  style="text-align: right;">رقم المستند</th>

									<td>#{{invoice.invoice_id}}</td>
</tr>


						<tr>
										<td></td>
									<th  style="text-align: right;"> التاريخ</th>

									<td>{{invoice.invoice_date}}</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>تعليق</th>
-->


						<tr>
										<td></td>
									<th  style="text-align: right;">الكميه</th>

									<td>{{invoice.amount}}</td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">السعر</th>

									<td>{{invoice.unit_price}}</td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">المجموع</th>

									<td>{{invoice.invoice_amount}}LE</td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">تعليق</th>

									<td></td>
</tr>
<tr>
	<td></td>

		<input type="hidden" formControlName="invoice_id" [ngModel]="invoice.id">

				<textarea  style="text-align: right;" formControlName="invoice_comment" rows="2" cols="28"></textarea>
</tr>



<tr>
										<td></td>
									<th  style="text-align: right;">المبلغ الذي تعتقد أنه يجب عليك دفعه؟</th>

									<td></td>
</tr>
<tr>
	<td></td>
<!-- 		<input type="hidden" formControlName="opening_id" [ngModel]="allData.openingbalance['0']['id']">
 -->
				<textarea  style="text-align: right;" formControlName="user_pays_invoices" rows="2" cols="28"></textarea>
</tr>


								</span>
</span>

<!--invoices-->



<!--collection-->
<span style="    display: contents;" *ngFor="let collection of allData['collection']">

								<tr (click)="openCollection()">

<td *ngIf="collections"  colspan="1" style="text-align: right;"><i class="down"></i>  #3</td>
<td *ngIf="!collections"  colspan="1" style="text-align: right;"><i class="left"></i>  #3</td>
									<td colspan="1" style="text-align: right;"><span style="background-color: #ffff00" class="dot"></span> جمع الرصيد
</td>

									<td colspan="1">{{collection.amount_collected}}LE</td>

									

								</tr>
								<span style="    display: contents;"  *ngIf="collections">
									<tr>
										<td></td>
									<th  style="text-align: right;">رقم المستند</th>

									<td>#{{collection.deposit_statement}}</td>
</tr>


						<tr>
										<td></td>
									<th  style="text-align: right;"> التاريخ</th>

									<td>{{collection.collection_date}}</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>تعليق</th>
-->



						<tr>
										<td></td>
									<th  style="text-align: right;">الكميه</th>

									<td>{{collection.amount_collected}}</td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">السعر</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">المجموع</th>

									<td>{{collection.amount_collected}}LE</td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">تعليق</th>

									<td></td>
</tr>
<tr>
	<td></td>

			<input type="hidden" formControlName="collection_id" [ngModel]="collection.id">

				<textarea  style="text-align: right;" formControlName="collection_comment" rows="2" cols="28"></textarea>
</tr>



<tr>
										<td></td>
									<th  style="text-align: right;">المبلغ الذي تعتقد أنه يجب عليك دفعه؟</th>

									<td></td>
</tr>
<tr>
	<td></td>
<!-- 		<input type="hidden" formControlName="opening_id" [ngModel]="allData.openingbalance['0']['id']">
 -->
				<textarea  style="text-align: right;" formControlName="amount_user_wantsTo_pay_collections" rows="2" cols="28"></textarea>
</tr>


								</span>
</span>
<!--collection-->




<!--Discount-->
<span style="    display: contents;" *ngFor="let discount of allData['discount']">

								<tr (click)="openDiscount()">

<td *ngIf="discounts"  colspan="1" style="text-align: right;"><i class="down"></i>  #4</td>
<td *ngIf="!discounts"  colspan="1" style="text-align: right;"><i class="left"></i>  #4</td>
									<td colspan="1" style="text-align: right;"><span style="background-color: #d99694" class="dot"></span> الخصومات</td>

									<td colspan="1">-{{discount.discount_amount}}LE</td>

								
									

								</tr>
								<span style="    display: contents;" *ngIf="discounts">
									<tr>
										<td></td>
									<th  style="text-align: right;">رقم المستند</th>

									<td>#{{discount.id}}</td>
</tr>


						<tr>
										<td></td>
									<th  style="text-align: right;"> التاريخ</th>

									<td>{{discount.discount_date}}</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>تعليق</th>
-->


						<tr>
										<td></td>
									<th  style="text-align: right;">الكميه</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">السعر</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">المجموع</th>

									<td>{{discount.discount_amount}}LE</td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">تعليق</th>

									<td></td>
</tr>
<tr>
	<td></td>
		
			<td colspan="2" style="text-align: right;">
		<input type="hidden" formControlName="discount_id" [ngModel]="discount.id">

				<textarea  style="text-align: right;" formControlName="discount_comment" rows="2" cols="28"></textarea>



			</td>

</tr>



<tr>
										<td></td>
									<th  style="text-align: right;">المبلغ الذي تعتقد أنه يجب عليك دفعه؟</th>

									<td></td>
</tr>
<tr>
	<td></td>
<!-- 		<input type="hidden" formControlName="opening_id" [ngModel]="allData.openingbalance['0']['id']">
 -->
				<textarea  style="text-align: right;" formControlName="amount_user_wantsTo_pay_discounts" rows="2" cols="28"></textarea>
</tr>


								</span>
</span>
<!--Discount-->







<!--ENding Balance-->
<span style="    display: contents;" *ngFor="let endingbalance of allData['endingbalance']">

								<tr (click)="openEndingBalance()">

									

<td *ngIf="endingbalances"  colspan="1" style="text-align: right;"><i class="down"></i>  #5</td>
<td *ngIf="!endingbalances"  colspan="1" style="text-align: right;"><i class="left"></i>  #5</td>
									<td colspan="1" style="text-align: right;"><span style="background-color: #c4bd97" class="dot"></span> الرصيد النهائي
</td>

									<td colspan="1">{{endingbalance.ending_balance}}LE</td>

								</tr>
								<span style="    display: contents;" *ngIf="endingbalances">
									<tr>
										<td></td>
									<th  style="text-align: right;">رقم المستند</th>

									<td>#{{endingbalance.id}}</td>
</tr>


						<tr>
										<td></td>
									<th  style="text-align: right;"> التاريخ</th>

									<td>{{endingbalance.ending_balance_date}}</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>تعليق</th>
-->


						<tr>
										<td></td>
									<th  style="text-align: right;">الكميه</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">السعر</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">المجموع</th>

									<td>{{endingbalance.ending_balance}}LE</td>
</tr>

						<tr>
										<td></td>
									<th  style="text-align: right;">تعليق</th>

									<td></td>
</tr>
<tr>



	<td></td>
				<input type="hidden" formControlName="endingbalance_id" [ngModel]="endingbalance.id">

	<td  style="text-align: right;" colspan="2"><textarea  style="text-align: right;" formControlName="endingbalance_comment" rows="2" cols="28"></textarea></td>
</tr>



<tr>
										<td></td>
									<th  style="text-align: right;">المبلغ الذي تعتقد أنه يجب عليك دفعه؟</th>

									<td></td>
</tr>
<tr>
	<td></td>
<!-- 		<input type="hidden" formControlName="opening_id" [ngModel]="allData.openingbalance['0']['id']">
 -->
				<textarea  style="text-align: right;" formControlName="amount_user_wantsTo_pay" rows="2" cols="28"></textarea>
</tr>


								</span>
</span>
							</tbody>
						</table>
  		</form>

</div>
</div>



<div *responsive="{
                          device: 'desktop'
            }" >
	
	<div *ngIf="allData">
		
	
		<form [formGroup] = "contactForm">

					<div  class="table-responsive" style="direction: rtl;">
						<table class="table table-hover" style="direction: rtl; text-align: right;">
							<thead class="thead-dark">
								<tr>
									<th></th>
									<th>نوع الوثيقة</th>
									<th>رقم المستند</th>

									<th>تاريخ</th>
									<th>الكميه</th>
									<th>السعر</th>
									<th >المجموع</th>
									<th >تعليق</th>
									<th >المبلغ الذي تعتقد أنه يجب عليك دفعه؟></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span style="background-color: #ffc000" class="dot"></span></td>
									<td>الرصيد الافتتاحي</td>
									<td>{{allData.openingbalance['0']['id']}}</td>

									<td>{{allData.openingbalance['0'].opening_balance_date}}</td>
									<td></td>
									<td>		<input type="hidden" formControlName="opening_id" [ngModel]="allData.openingbalance['0']['id']">
</td>
									<td>{{allData.openingbalance['0'].opening_balance_amount}} EGP</td>
									<td>				<textarea formControlName="opening_comment" rows="2" cols="28"></textarea>
</td>
									<td>				<textarea  style="text-align: right;"  formControlName="amount_user_wantsTo_pay_opening" rows="2" cols="28"></textarea>
</td>
								</tr>
								<tr *ngFor="let invoice of allData['invoice']">
									<td><span style="background-color: #8eb4e3" class="dot"></span></td>
									<td>الفواتير</td>
									<td>#{{invoice.invoice_id}}</td>

									<td>{{invoice.invoice_date}}</td>
									<td>{{invoice.amount}}</td>
									<td>{{invoice.unit_price}} EGP</td>
									<td>{{invoice.invoice_amount}}EGP</td>
											<input type="hidden" formControlName="invoice_id" [ngModel]="invoice.id">

									<td>				<textarea  style="text-align: right;" formControlName="invoice_comment" rows="2" cols="28"></textarea>
</td>

									<td>				<textarea  style="text-align: right;" formControlName="user_pays_invoices" rows="2" cols="28"></textarea>
</td>

								</tr>
								

								<tr *ngFor="let collection of allData['collection']">
									<td><span style="background-color: #ffff00" class="dot"></span></td>
									<td>جمع الرصيد</td>
									<td>{{collection.id}}</td>
									
									<td>{{collection.collection_date}}</td>
									<td>			<input type="hidden" formControlName="collection_id" [ngModel]="collection.id">
</td>
									<td></td>
									<td> {{collection.deposit_statement}}</td>
									<td> 				<textarea  style="text-align: right;" formControlName="collection_comment" rows="2" cols="28"></textarea>
</td>
									<td><textarea  style="text-align: right;" formControlName="amount_user_wantsTo_pay_collections" rows="2" cols="28"></textarea></td>

								</tr>
								
								<tr *ngFor="let discount of allData['discount']">
									<td><span style="background-color: #d99694" class="dot"></span></td>
									<td>الخصومات</td>
									<td>{{discount.id}}</td>
									<td>{{discount.discount_date}}</td>
									<td>		<input type="hidden" formControlName="discount_id" [ngModel]="discount.id">
</td>
									<td></td>
									<td>-{{discount.discount_amount}}</td>
									<td>				<textarea  style="text-align: right;" formControlName="discount_comment" rows="2" cols="28"></textarea>
</td>
									<td>				<textarea  style="text-align: right;" formControlName="amount_user_wantsTo_pay_discounts" rows="2" cols="28"></textarea>
</td>

								</tr>

								<tr *ngFor="let ending of allData['endingbalance']">
									<td><span style="background-color: #c4bd97" class="dot"></span></td>
									<td>الرصيد النهائي</td>
									<td>#{{ending.cutomer_id}}</td>
									<td>{{ending.ending_balance_date}}</td>
									<td>				<input type="hidden" formControlName="endingbalance_id" [ngModel]="ending['id']">
</td>
									<td></td>
									<td>{{ending.ending_balance}}EGP</td>
									<td><textarea  style="text-align: right;" formControlName="endingbalance_comment" rows="2" cols="28"></textarea></td>
									<td>				<textarea  style="text-align: right;" formControlName="amount_user_wantsTo_pay" rows="2" cols="28"></textarea>
</td>

								</tr>


							</tbody>
						</table>
					</div>
				</form>
				</div>

</div>
</div>

<div>
	<div class="container" style="direction: rtl;" *ngIf="allData">
				<form [formGroup] = "contactForm2">
				<input type="hidden" formControlName="customer_statement_id" [ngModel]="allData.customerstatement.id">

		<h2  style="    padding: 12px;
    font-size: 1em; background-color: #343a40; color: white; text-align: right;
">حدد أسباب الاختلاف:</h2>

<div>

<div  style="font-size: 1em;     padding-left: 39px; text-align: right;" >
	<label style="display: inline-block;"><input (change)="yourfunc($event)"  type="checkbox"><span>الفرق في الدفع</span></label>
 	<div *ngIf="r1">
 	<textarea formControlName="difference_in_payment_comment" rows="2" cols="36"></textarea>
 	</div>

</div>

</div>

<div>
<div style=" font-size: 1em;     padding-left: 39px; text-align: right;" >
	<label style="display: inline-block;"><input  (change)="yourfunc2($event)" type="checkbox"><span>الفرق في المبلغ</span></label>
 	<div *ngIf="r2">
 	<textarea formControlName="difference_in_amount_comment" rows="2" cols="36"></textarea>
 	</div>

</div>

</div>

<div>
<div style=" font-size: 1em;     padding-left: 39px; text-align: right;" >
	<label style="display: inline-block;"><input (change)="yourfunc3($event)" type="checkbox"><span>الدفع غير موثق</span></label>
 	<div *ngIf="r3">
 	<textarea formControlName="payment_not_documented_comment" rows="2" cols="36"></textarea>
 	</div>

</div>

</div>

<div>
<div style=" font-size: 1em;     padding-left: 39px; text-align: right;" >
	<label style="display: inline-block;"><input (change)="yourfunc4($event)" type="checkbox"><span>الفاتورة غير موثقة</span></label>
 	<div *ngIf="r4">
 	<textarea formControlName="invoice_not_documented_comment" rows="2" cols="36"></textarea>
 	</div>

</div>

</div>

<div>
<div style=" font-size: 1em;    padding-left: 39px; text-align: right;"  >
	<label style="display: inline-block;"><input (change)="yourfunc5($event)" type="checkbox"><span>آخر</span></label>
 	<div *ngIf="r5">
 	<textarea formControlName="other_comment" rows="2" cols="36"></textarea>
 	</div>

</div>

</div>

	</form>							
</div>
	</div>
	






  <div class="button-wrap">

  <button (click)="comments()" class="explore">
    إرسال 
  </button>  
  </div>