
													<table class="table table-hover">
							<thead class="thead-dark">
								<tr>
										<th colspan="2" style="text-align: center;">Document Type</th>

								</tr>
							</thead>
							<tbody>
								<tr (click)="openOpeningBlanceTable()">

									<td colspan="2"><span style="background-color: #ffc000" class="dot"></span> Opening Balance</td>
									

								</tr>
								<span *ngIf="openingbalance">
									<tr>
										<td></td>
									<th>Document Number</th>

									<td>#001</td>
</tr>


						<tr>
										<td></td>
									<th> Date</th>

									<td>12/12/2019</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>Remarks</th>
-->
						<tr>
										<td></td>
									<th>Document Number</th>

									<td>#001</td>
</tr>


						<tr>
										<td></td>
									<th>Amount</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Price</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Total</th>

									<td>12,000LE</td>
</tr>

						<tr>
										<td></td>
									<th>Remarks</th>

									<td></td>
</tr>
<tr>
	<td></td>
	<td colspan="2"><textarea rows="2" cols="28"></textarea></td>
</tr>



								</span>






<!--Invoices-->

								<tr (click)="openInvoices()">

									<td colspan="2"><span style="background-color: #8eb4e3" class="dot"></span> Invoices</td>
									

								</tr>
								<span *ngIf="invoices">
									<tr>
										<td></td>
									<th>Document Number</th>

									<td>#001</td>
</tr>


						<tr>
										<td></td>
									<th> Date</th>

									<td>12/12/2019</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>Remarks</th>
-->
						<tr>
										<td></td>
									<th>Document Number</th>

									<td>#001</td>
</tr>


						<tr>
										<td></td>
									<th>Amount</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Price</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Total</th>

									<td>12,000LE</td>
</tr>

						<tr>
										<td></td>
									<th>Remarks</th>

									<td></td>
</tr>
<tr>
	<td></td>
	<td colspan="2"><textarea rows="2" cols="28"></textarea></td>
</tr>



								</span>


<!--invoices-->



<!--collection-->

								<tr (click)="openCollection()">

									<td colspan="2"><span style="background-color: #ffff00" class="dot"></span> Collection</td>
									

								</tr>
								<span *ngIf="collection">
									<tr>
										<td></td>
									<th>Document Number</th>

									<td>#001</td>
</tr>


						<tr>
										<td></td>
									<th> Date</th>

									<td>12/12/2019</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>Remarks</th>
-->
						<tr>
										<td></td>
									<th>Document Number</th>

									<td>#001</td>
</tr>


						<tr>
										<td></td>
									<th>Amount</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Price</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Total</th>

									<td>12,000LE</td>
</tr>

						<tr>
										<td></td>
									<th>Remarks</th>

									<td></td>
</tr>
<tr>
	<td></td>
	<td colspan="2"><textarea rows="2" cols="28"></textarea></td>
</tr>



								</span>

<!--collection-->




<!--Discount-->

								<tr (click)="openDiscount()">

									<td colspan="2"><span style="background-color: #d99694" class="dot"></span> Discounts</td>
									

								</tr>
								<span *ngIf="discount">
									<tr>
										<td></td>
									<th>Document Number</th>

									<td>#001</td>
</tr>


						<tr>
										<td></td>
									<th> Date</th>

									<td>12/12/2019</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>Remarks</th>
-->
						<tr>
										<td></td>
									<th>Document Number</th>

									<td>#001</td>
</tr>


						<tr>
										<td></td>
									<th>Amount</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Price</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Total</th>

									<td>12,000LE</td>
</tr>

						<tr>
										<td></td>
									<th>Remarks</th>

									<td></td>
</tr>
<tr>
	<td></td>
	<td colspan="2"><textarea rows="2" cols="28"></textarea></td>
</tr>



								</span>

<!--Discount-->







<!--ENding Balance-->

								<tr (click)="openEndingBalance()">

									<td colspan="2"><span style="background-color: #c4bd97" class="dot"></span> Ending Balance</td>
									

								</tr>
								<span *ngIf="endingbalance">
									<tr>
										<td></td>
									<th>Document Number</th>

									<td>#001</td>
</tr>


						<tr>
										<td></td>
									<th> Date</th>

									<td>12/12/2019</td>
</tr>



<!--
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>Remarks</th>
-->
						<tr>
										<td></td>
									<th>Document Number</th>

									<td>#001</td>
</tr>


						<tr>
										<td></td>
									<th>Amount</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Price</th>

									<td></td>
</tr>

						<tr>
										<td></td>
									<th>Total</th>

									<td>12,000LE</td>
</tr>

						<tr>
										<td></td>
									<th>Remarks</th>

									<td></td>
</tr>
<tr>
	<td></td>
	<td colspan="2"><textarea rows="2" cols="28"></textarea></td>
</tr>



								</span>

							</tbody>
						</table>
