<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a> Customer Statements</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Customers</li>
                    <li class="breadcrumb-item active">Statements</li>
                </ul>
            </div>
<!--             <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
                    <div echarts [options]="visitorsOptions" class="echart-line-chart" [autoResize]="true" style="height: 20px;">
                    </div>
                    <span>Visitors</span>
                </div>
                <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
                    <div echarts [options]="visitsOptions" class="echart-line-chart" [autoResize]="true" style="height: 20px;">
                    </div>
                    <span>Visits</span>
                </div>
            </div> -->
        </div>
    </div>

    <div class="row ">
        <div class="col-lg-12 col-md-12  ">
            <div class="card">
                <div class="header">
                    <button style="display: inline-block;   float: left;"   type="button" class="btn btn-primary mr-1 l-grey custom">Send SMS for all approved statements</button>
                </div>

                              <div class="card sticky-top shadow-sm p-3 mb-5 bg-white rounded">
                <div class="header">
                    <h2>Date Filters</h2>
                </div>
                          <div class="list-group" style="display: inline-block; width: 100%;">

                              <a *ngIf="isactive != 'one'" style="display: inline-block; width: 8.33333%;" (click)="getMonth(1)" href="javascript:void(0);" class="list-group-item list-group-item-action ">January </a>
                              <a *ngIf="isactive == 'one'" style="display: inline-block; width: 8.33333%;" (click)="getMonth(1)" href="javascript:void(0);" class="list-group-item list-group-item-action active">January </a>
                              
                              <a  *ngIf="isactive != 'two'" style="display: inline-block; width: 8.33333%;"   (click)="getMonth(2)" href="javascript:void(0);" class="list-group-item list-group-item-action">February </a>
                              <a  *ngIf="isactive == 'two'" style="display: inline-block; width: 8.33333%;"   (click)="getMonth(2)" href="javascript:void(0);" class="list-group-item list-group-item-action active">February </a>


                              <a  *ngIf="isactive != 'three'" style="display: inline-block; width: 8.33333%;"   (click)="getMonth(3)" href="javascript:void(0);" class="list-group-item list-group-item-action">March </a>
                              <a *ngIf="isactive == 'three'" style="display: inline-block; width: 8.33333%;"   (click)="getMonth(3)" href="javascript:void(0);" class="list-group-item list-group-item-action active">March </a>

                              <a  *ngIf="isactive != 'four'" style="display: inline-block; width: 8.33333%;"   (click)="getMonth(4)" href="javascript:void(0);" class="list-group-item list-group-item-action ">April </a>
                              <a *ngIf="isactive == 'four'" style="display: inline-block; width: 8.33333%;"   (click)="getMonth(4)" href="javascript:void(0);" class="list-group-item list-group-item-action active ">April </a>

                              <a  *ngIf="isactive != 'five'" style="display: inline-block; width: 8.33333%;"  (click)="getMonth(5)" href="javascript:void(0);" class="list-group-item list-group-item-action ">May </a>
                              <a *ngIf="isactive == 'five'" style="display: inline-block; width: 8.33333%;"  (click)="getMonth(5)" href="javascript:void(0);" class="list-group-item list-group-item-action active">May </a>

                              <a  *ngIf="isactive != 'six'"  style="display: inline-block; width: 8.33333%;"  (click)="getMonth(6)" href="javascript:void(0);" class="list-group-item list-group-item-action ">June </a>
                              <a  *ngIf="isactive == 'six'"  style="display: inline-block; width: 8.33333%;"  (click)="getMonth(6)" href="javascript:void(0);" class="list-group-item list-group-item-action active ">June </a>

                              <a  *ngIf="isactive != 'seven'"  style="display: inline-block; width: 8.33333%;"  (click)="getMonth(7)" href="javascript:void(0);" class="list-group-item list-group-item-action ">July </a>
                              <a  *ngIf="isactive == 'seven'" style="display: inline-block; width: 8.33333%;"  (click)="getMonth(7)" href="javascript:void(0);" class="list-group-item list-group-item-action active">July </a>

                              <a  *ngIf="isactive != 'eight'"  style="display: inline-block; width: 8.33333%;"  (click)="getMonth(8)" href="javascript:void(0);" class="list-group-item list-group-item-action ">August </a>
                              <a *ngIf="isactive == 'eight'" style="display: inline-block; width: 8.33333%;"  (click)="getMonth(8)" href="javascript:void(0);" class="list-group-item list-group-item-action active">August </a>

                              <a  *ngIf="isactive != 'nine'"  style="display: inline-block; width: 8.33333%;"  (click)="getMonth(9)" href="javascript:void(0);" class="list-group-item list-group-item-action ">September </a>
                              <a *ngIf="isactive == 'nine'" style="display: inline-block; width: 8.33333%;"  (click)="getMonth(9)" href="javascript:void(0);" class="list-group-item list-group-item-action active">September </a>

                              <a  *ngIf="isactive != 'ten'" style="display: inline-block; width: 8.33333%;"   (click)="getMonth(10)" href="javascript:void(0);" class="list-group-item list-group-item-action ">October </a>
                              <a *ngIf="isactive == 'ten'" style="display: inline-block; width: 8.33333%;"   (click)="getMonth(10)" href="javascript:void(0);" class="list-group-item list-group-item-action active">October </a>

                              <a  *ngIf="isactive != 'eleven'" style="display: inline-block; width: 8.33333%;"   (click)="getMonth(11)" href="javascript:void(0);" class="list-group-item list-group-item-action ">November </a>
                              <a *ngIf="isactive == 'eleven'" style="display: inline-block; width: 8.33333%;"   (click)="getMonth(11)" href="javascript:void(0);" class="list-group-item list-group-item-action active">November </a>

                              <a  *ngIf="isactive != 'tewelve'"  style="display: inline-block; width: 8.33333%;"  (click)="getMonth(12)" href="javascript:void(0);" class="list-group-item list-group-item-action ">December </a>
                              <a *ngIf="isactive == 'tewelve'" style="display: inline-block; width: 8.33333%;"  (click)="getMonth(12)" href="javascript:void(0);" class="list-group-item list-group-item-action active ">December </a>
                          </div>
            </div>
        
<!-- 
                <div style="text-align: center;">
                    <form style="display: inline; text-align: center;">
  Select (month and year): <input type="month" name="bdaymonth">
  <input type="submit">
</form>

                </div> -->
    <ng2-smart-table (custom)="onCustomAction($event)" [settings]="settings" [source]="data"></ng2-smart-table>


            </div>
        </div>
<!--                         <div class="col-lg-2 col-md-2 right-box ">
            <div class="card sticky-top shadow-sm p-3 mb-5 bg-white rounded">
                <div class="header">
                    <h2>Date Filters</h2>
                </div>
                          <div class="list-group">
                              <a (click)="getMonth(1)" href="javascript:void(0);" class="list-group-item list-group-item-action active">January </a>
                              <a (click)="getMonth(2)" href="javascript:void(0);" class="list-group-item list-group-item-action">February </a>
                              <a (click)="getMonth(3)" href="javascript:void(0);" class="list-group-item list-group-item-action">March </a>
                              <a (click)="getMonth(4)" href="javascript:void(0);" class="list-group-item list-group-item-action ">April </a>
                              <a (click)="getMonth(5)" href="javascript:void(0);" class="list-group-item list-group-item-action ">May </a>
                              <a (click)="getMonth(6)" href="javascript:void(0);" class="list-group-item list-group-item-action ">June </a>
                              <a (click)="getMonth(7)" href="javascript:void(0);" class="list-group-item list-group-item-action ">July </a>
                              <a (click)="getMonth(8)" href="javascript:void(0);" class="list-group-item list-group-item-action ">August </a>
                              <a (click)="getMonth(9)" href="javascript:void(0);" class="list-group-item list-group-item-action ">September </a>
                              <a (click)="getMonth(10)" href="javascript:void(0);" class="list-group-item list-group-item-action ">October </a>
                              <a (click)="getMonth(11)" href="javascript:void(0);" class="list-group-item list-group-item-action ">November </a>
                              <a (click)="getMonth(12)" href="javascript:void(0);" class="list-group-item list-group-item-action ">December </a>
                          </div>
            </div>
        </div> -->

    </div>

</div>

