<div class="container">
  <div class="logo"><img style="width: 5em;" src="assets/images/logo.png" alt="cc-logo" border="0">
    <div class="c-name">
      Ceva
    </div>
  </div>
  <div class="illustration">
    <div class="hgroup">
    <span class="name">Hello, Ahmed Shafee</span>
    <h1>Ceva Confirmation System</h1>
    </div>
<!--     <a href="https://ibb.co/kSxWRDz"><img src="https://i.ibb.co/mcGMLyd/undraw-super-thank-you-obwk.png" alt="undraw-super-thank-you-obwk" border="0"></a> -->
  </div>
<!--   <span class="separator"></span> -->
  <div class="hgroup">
    <p>Please revise your company's Balance at Ceva's at 12/12/2019
      Which is 12,000 LE
  </p>

        <form>
  <input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
  <label style="display: inline-block;" for="fruit1">Agree</label>

    <input type="checkbox" id="fruit2" name="fruit-2" value="no">
  <label style="display: inline-block;" for="fruit2">Disagree</label>
</form>
      <span class="raised">Your Balance </span>
      <input type="text" name="">
    <p>PLease note that the overdue that needs to be paid immediatley is  15,000 LE </p>
    
    <p>and the due balance this month is 12,000 <br>
    </p>
    
  </div>
  <div class="button-wrap">
  <button class="explore">
    Submit
  </button>  
  </div>

</div>

