<div class="container-fluid">

	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					<a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a>
					Invoices
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Pages</li>
					<li class="breadcrumb-item active">Invoices</li>
				</ul>
			</div>
<!--             <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
                    <div echarts [options]="visitorsOptions" class="echart-line-chart" [autoResize]="true" style="height: 20px;">
                    </div>
                    <span>Visitors</span>
                </div>
                <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
                    <div echarts [options]="visitsOptions" class="echart-line-chart" [autoResize]="true" style="height: 20px;">
                    </div>
                    <span>Visits</span>
                </div>
            </div> -->
		</div>
	</div>

	<div class="row clearfix">

		<div class="col-lg-12 col-md-12">
			<div class="card invoice1">
				<div class="body">
<!-- 					<div class="invoice-top clearfix">
						<div class="logo">
							<img src="assets/images/sm/avatar1.jpg" alt="user" class="rounded-circle img-fluid">
						</div>
						<div class="info">
							<h6>Michael Truong</h6>
							<p> hello@michaeltruong.ca <br>
								289-335-6503
							</p>
						</div>
						<div class="title">
							<h4>Invoice #1069</h4>
							<p>Issued: May 27, 2018<br>
								Payment Due: June 27, 2018
							</p>
						</div>
					</div> -->
					<hr>
					<div class="invoice-mid clearfix">

						<div class="clientlogo">
							<img src="assets/images/sm/avatar2.jpg" alt="user" class="rounded-circle img-fluid">
						</div>

						<div class="info">
							<h6>Client Name: Omar Emad El-Deen</h6>
							<p>oemadk@gmail.com<br>
								011111204333</p>
<!-- 							<h6>Project Description</h6>
							<p>Proin cursus, dui non tincidunt elementum, tortor ex feugiat enim, at elementum enim quam vel purus.
								Curabitur semper malesuada urna ut suscipit.</p> -->
						</div>

					</div>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead class="thead-dark">
								<tr>
									<th>Date</th>
									<th>Document Number</th>
									<th>Statement</th>
									<th>Amount</th>
									<th>Price</th>
									<th >Total</th>
									<th>Notes</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>12/12/2019</td>
									<td>#512</td>
									<td>Invoice</td>
									<td>12</td>
									<td>12,000 EGP</td>
									<td>12,000 EGP</td>
									<td><textarea rows="4" cols="50"></textarea></td>
								</tr>

																<tr>
									<td>12/12/2019</td>
									<td>#512</td>
									<td>Collection</td>
									<td>12</td>
									<td>12,000 EGP</td>
									<td>12,000 EGP</td>
									<td><textarea rows="4" cols="50"></textarea></td>
								</tr>

																<tr>
									<td>12/12/2019</td>
									<td>#512</td>
									<td>Discount</td>
									<td>12</td>
									<td>12,000 EGP</td>
									<td>12,000 EGP</td>
									<td><textarea rows="4" cols="50"></textarea></td>
								</tr>

																<tr>
									<td></td>
									<td></td>
									<td>Total Balance</td>
									<td></td>
									<td></td>
									<td>12,000 EGP</td>
									<td><textarea rows="4" cols="50"></textarea></td>
								</tr>
							</tbody>
						</table>
					</div>
					<hr>
					<div class="row clearfix">
							<h5>Reasons for saying no:</h5>
						</div>
<div class="row">
	<div class="col-lg-6 col-md-6" style="text-align: left;">

							<div class="fancy-checkbox">
								<label style="display: inline-block;"><input type="checkbox"><span>Difference in Payment</span></label>
</div>
							</div>

	<div class="col-lg-6 col-md-6" style="text-align: left;">

																<textarea rows="1" cols="50"></textarea>

</div>


						</div>
						<div class="row">
	<div class="col-lg-6 col-md-6" style="text-align: left;">

							<div class="fancy-checkbox">
								<label style="display: inline-block;"><input type="checkbox"><span>Difference in Amount</span></label>
</div>
							</div>

	<div class="col-lg-6 col-md-6" style="text-align: left;">

																<textarea rows="1" cols="50"></textarea>

</div>


						</div>
						<div class="row">
	<div class="col-lg-6 col-md-6" style="text-align: left;">

							<div class="fancy-checkbox">
								<label style="display: inline-block;"><input type="checkbox"><span>Payment not documented</span></label>
</div>
							</div>

	<div class="col-lg-6 col-md-6" style="text-align: left;">

																<textarea rows="1" cols="50"></textarea>

</div>


						</div>
						<div class="row">
	<div class="col-lg-6 col-md-6" style="text-align: left;">

							<div class="fancy-checkbox">
								<label style="display: inline-block;"><input type="checkbox"><span>Invoice not documented</span></label>
</div>
							</div>

	<div class="col-lg-6 col-md-6" style="text-align: left;">

																<textarea rows="1" cols="50"></textarea>

</div>


						</div>
												<div class="row">
	<div class="col-lg-6 col-md-6" style="text-align: left;">

							<div class="fancy-checkbox">
								<label style="display: inline-block;"><input type="checkbox"><span>Other</span></label>
</div>
							</div>

	<div class="col-lg-6 col-md-6" style="text-align: left;">

																<textarea rows="1" cols="50"></textarea>

</div>


						</div>



						</div>

						<div class="hidden-print col-md-12 text-center">
							<hr>
							<!-- <button class="btn btn-outline-secondary mr-1"><i class="icon-printer"></i></button> -->
							<button class="btn btn-primary" style="margin-right: 20px">Submit</button>
							<button class="btn btn-primary mr-1">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	<!-- </div> -->
