<div class="container-fluid">

	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					<a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a>
			Invoice List

							</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Pages</li>
					<li class="breadcrumb-item active">Invoice List</li>
				</ul>
			</div>
            <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
                    <div echarts [options]="visitorsOptions" class="echart-line-chart" [autoResize]="true" style="height: 20px;">
                    </div>
                    <span>Visitors</span>
                </div>
                <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
                    <div echarts [options]="visitsOptions" class="echart-line-chart" [autoResize]="true" style="height: 20px;">
                    </div>
                    <span>Visits</span>
                </div>
            </div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="card">
				<div class="body project_report">
					<div class="table-responsive">
						<table class="table m-b-0 table-hover">
							<thead class="thead-light">
								<tr>
																	<th>
										<div class="dropdown">
 										<button class="dropbtn">Invoice</button>
  											<div class="dropdown-content">
  											<a href="#"><input type="date" name="bday"></a>
  											</div>
										</div>


									</th>


									<th>User</th>
									<th><div class="dropdown">
  <button class="dropbtn">Status</button>
  <div class="dropdown-content">
  <a href="#">Approved</a>
  <a href="#">Pending</a>
  <a href="#">Cancelled</a>
  </div>
</div></th>
	


									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									
									<td class="project-title">
										<h6><a href="javascript:void(0);">#512322</a></h6>
										<small>Created 14.Mar.2019</small>
									</td>
 
									<td>
										<ul class="list-unstyled team-info">
											Omar
											<li><img src="assets/images/xs/avatar1.jpg" alt="Avatar"></li>
										</ul>
									</td>
									<td>
										<span class="badge badge-success">Approved</span>
									</td>
									<td class="project-actions">
										<a href="javascript:void(0);" class="btn btn-outline-secondary mr-1"><i class="icon-eye"></i></a>
										<a href="javascript:void(0);" class="btn btn-outline-secondary"> <input type="checkbox"></a>
									</td>
								</tr>

								<tr>
									
									<td class="project-title">
										<h6><a href="javascript:void(0);">#512322</a></h6>
										<small>Created 14.Mar.2019</small>
									</td>
 
									<td>
										<ul class="list-unstyled team-info">
											Omar
											<li><img src="assets/images/xs/avatar1.jpg" alt="Avatar"></li>
										</ul>
									</td>
									<td>
										<span class="badge badge-success">Approved</span>
									</td>
									<td class="project-actions">
										<a href="javascript:void(0);" class="btn btn-outline-secondary mr-1"><i class="icon-eye"></i></a>
										<a href="javascript:void(0);" class="btn btn-outline-secondary"> <input type="checkbox"></a>
									</td>
								</tr>

								<tr>
									
									<td class="project-title">
										<h6><a href="javascript:void(0);">#512322</a></h6>
										<small>Created 14.Mar.2019</small>
									</td>
 
									<td>
										<ul class="list-unstyled team-info">
											Omar
											<li><img src="assets/images/xs/avatar1.jpg" alt="Avatar"></li>
										</ul>
									</td>
									<td>
										<span class="badge badge-success">Approved</span>
									</td>
									<td class="project-actions">
										<a href="javascript:void(0);" class="btn btn-outline-secondary mr-1"><i class="icon-eye"></i></a>
										<a href="javascript:void(0);" class="btn btn-outline-secondary"> <input type="checkbox"></a>
									</td>
								</tr>
																								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="card">
				<div class="header">
					<h2>Single Invoice</h2>
					<ul class="header-dropdown">
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							 aria-expanded="false"></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="javascript:void(0);">Print Invoices</a></li>
								<li role="presentation" class="divider"></li>
								<li><a href="javascript:void(0);">Export to XLS</a></li>
								<li><a href="javascript:void(0);">Export to CSV</a></li>
								<li><a href="javascript:void(0);">Export to XML</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<h3>Invoice Details : <strong class="text-primary">#A0089</strong></h3>
					<ul class="nav nav-tabs-new2">
						<li class="nav-item inlineblock"><a class="nav-link active"  fragment="details" [ngClass]="{'active':fragment == 'details'}">Details</a></li>
	<!-- 					<li class="nav-item inlineblock"><a class="nav-link" [routerLink] = "['/admin/pages/page-invoices2']" fragment="history" [ngClass]="{'active':fragment == 'history'}">History</a></li> -->
					</ul>
					<div class="tab-content">
						<div class="tab-pane" [ngClass]="{'active':fragment == 'details'}">
							<div class="row clearfix">
								<div class="col-md-6 col-sm-6">
									<address>
										<strong>CEVA Inc.</strong><br>
										<abbr title="Phone">P:</abbr> (123) 456-34636
									</address>
								</div>
								<div class="col-md-6 col-sm-6 text-right">
									<p class="m-b-0"><strong>Invoice Date: </strong> Jun 15, 2018</p>
									<p class="m-b-0"><strong>Invoice Status: </strong> <span class="badge badge-warning m-b-0">Pending</span></p>
									<p><strong>Invoice ID: </strong> #123456</p>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="table table-hover">
											<thead class="thead-dark">
												<tr>
													<th>#</th>
													<th>Item</th>
													<th class="hidden-sm-down">Description</th>
													<th>Quantity</th>
													<th class="hidden-sm-down">Unit Cost</th>
													<th>Total</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>Ceva invoice</td>
													<td class="hidden-sm-down">Something from CEVA</td>
													<td>1</td>
													<td class="hidden-sm-down">12,000 EGP</td>
													<td>13,999 EGP</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<hr>
							<div class="row clearfix">
								<div class="col-md-6">
									<h5>Note</h5>
									<p>This invoice details all the due amount and history of the user</p>
								</div>
								<div class="col-md-6 text-right">
									<p class="m-b-0"><b>Sub-total:</b> 14,000 EGP</p>
									<p class="m-b-0">Discout: 12.9%</p>
									<p class="m-b-0">VAT: 12.9%</p>
									<h3 class="m-b-0 m-t-10">15,999 EGP</h3>
								</div>
								<div class="hidden-print col-md-12 text-right">
									<hr>
									<button class="btn btn-outline-secondary mr-1"><i class="icon-printer"></i></button>
									<button class="btn btn-primary">Submit</button>
									<button class="btn btn-primary">Send SMS</button>
								</div>
							</div>
						</div>
						<div class="tab-pane" [ngClass]="{'active':fragment == 'history'}">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<address>
										<strong>CEVA Inc.</strong><br>
										<abbr title="Phone">P:</abbr> (123) 456-34636
									</address>
								</div>
								<div class="col-md-6 col-sm-6 text-right">
									<p class="m-b-0"><strong>Invoice Date: </strong> Jun 15, 2018</p>
									<p class="m-b-0"><strong>Invoice Status: </strong> <span class="badge bg-orange">Pending</span></p>
									<p><strong>Invoice ID: </strong> #123456</p>
								</div>
							</div>
							<div class="mt-40"></div>
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>#</th>
													<th>Description</th>
													<th>Date</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>Invoice Created</td>
													<td>18 Dec, 2017</td>
													<td><span class="badge badge-default">Pending</span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>Invoice Sent</td>
													<td>19 Dec, 2017</td>
													<td><span class="badge badge-default">PEnding</span></td>
												</tr>
												<tr>
													<td>1</td>
													<td>Invoice Paid</td>
													<td>20 Dec, 2017</td>
													<td><span class="badge badge-success">Success</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>